* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: rgb(141, 67, 67);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.table-container {
    max-width: 90%;
    margin: 0 auto;
    overflow-x: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse:collapse;
}

thead {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid gray;
}

tr:hover {
    background-color: lightgray;
}

footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}